.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  background: #ffbd00;
  margin-bottom: 20px;
  padding: 0 10px;
  height: 45px;
  .page-item-title {
    margin: 0;
    align-self: center;
  }
  .page-item-back {
    cursor: pointer;
    &:hover .back-icon {
      color: #fff;
    }
  }
  .page-item-create {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 8px;
    font-size: 16px;
    // width: 150px;
    .create-btn {
      &:hover {
        color: #ffbd00;
      }
    }
  }
}
